extends ../layout
block navbar
  li
    a#upload-button Upload Image
  li
    a#save-button Save
  li
    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
      | Load 
      span.caret
    ul#load-workspaces.dropdown-menu(role='menu')

block body
  #blockly
    xml(id="toolbox",style="display: none").
      <category name="Shapes">
        <block type="rect"></block>
        <block type="ellipse"></block>
        <block type="image"></block>
        <block type="set_property"></block>
      </category>
      </category>
      <category name="Inputs">
        <block type="digital_input"></block>
        <block type="analog_input"></block>
        <block type="sin"></block>
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
      </category>
      <category name="Color">
        <block type="colour_picker"></block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
          <value name="RED">
            <block type="math_number">
              <field name="NUM">100</field>
            </block>
          </value>
          <value name="GREEN">
            <block type="math_number">
              <field name="NUM">50</field>
            </block>
          </value>
          <value name="BLUE">
            <block type="math_number">
              <field name="NUM">0</field>
            </block>
          </value>
        </block>
        <block type="colour_blend">
          <value name="COLOUR1">
            <block type="colour_picker">
              <field name="COLOUR">#ff0000</field>
            </block>
          </value>
          <value name="COLOUR2">
            <block type="colour_picker">
              <field name="COLOUR">#3333ff</field>
            </block>
          </value>
          <value name="RATIO">
            <block type="math_number">
              <field name="NUM">0.5</field>
            </block>
          </value>
        </block>
      </category>
  #fabric-container
    canvas#fabric

  #save-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Save workspace
        .modal-body
          form
            .form-group
              label.control-label(for='workspace-name') Name:
              input#workspace-name.form-control(type='text')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button#save-button2.btn.btn-primary(type='button') Save workspace

  form#upload-modal.modal.form(method="post", action="/images", enctype="multipart/form-data")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Upload image
        .modal-body
          .form-group
            label(for='image-file') File input
            input#image-file(type='file',name='file')
            p.help-block Upload your image
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button#upload-button2.btn.btn-primary() Upload

block style
  style.
    #main {
      padding: 0px;
    }
    #blockly {
      position: absolute;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    #fabric-container {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 50%;
    }

block script
  script(src="/blockly/blockly_compressed.js")
  script(src="/blockly/javascript_compressed.js")
  script(src="/blockly/blocks_compressed.js")
  script(src="/blockly/en.js")

  script(src="/js/fabric.min.js")
  script(src='/js/socket.io-1.2.0.js')

  script(src="/js/blockly-fabric.js")

    
